In [135]:
from imports import *
from functions_kit import *
from sentiment_analyzer import sa

In [253]:
AUS = sa('EUR', load = True)

In [254]:
AUS_df = AUS.final_df

In [255]:
len(AUS_df)

3550

In [258]:
AUS_df['aggregate_sentiment'] = AUS_df['manual_sentiment'] + AUS_df['vader_sentiment'] + AUS_df['textblob_sentiment'] + AUS_df['HIV4_sentiment'] + AUS_df['LM_sentiment']
AUS_df[AUS_df['aggregate_sentiment'] > 1] = 1
AUS_df[AUS_df['aggregate_sentiment'] < -1] = -1

In [259]:
AUS_df.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,HIV4_sentiment_score,HIV4_sentiment,LM_sentiment_score,LM_sentiment,aggregate_sentiment
2008-09-08,stock recover poise week sharp fall wall stree...,global market calm return coordinate rate cut ...,0.178821,1,-0.9830,-1,0.017391,1,-0.039514,-1,-0.602837,-1,-1
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1,-0.9996,-1,0.004653,1,0.064327,1,-0.693431,-1,1
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1,0.5003,1,-0.020412,-1,0.333333,1,-0.589744,-1,1
2008-09-14,yen fall percent vs euro decline broadly europ...,forex yen slide global bank rescue step global...,-0.011039,-1,-0.9996,-1,0.003089,1,0.033613,1,-0.637306,-1,-1
2008-09-15,-1,-1,-1.000000,-1,-1.0000,-1,-1.000000,-1,-1.000000,-1,-1.000000,-1,-1

In [183]:
final_list_of_currencies = ['AUD', 'CAD', 'CNY', 'COP', 'EUR', 'JPY', 'NZD', 'ZAR', 'SGD', 'CHF', 'GBP']
final_list_of_countries = ["AUS", "CAN", "CHN", "COL", "EUR", "JAP", "NZ","SA", "SNG", "SWI", "UK"]

exchange_rate_df = pd.read_pickle('data/final_exchange_rate_daily_data.pkl')
len(exchange_rate_df)

#Reduce datetime to daily for the dataset
exchange_rate_df.index = exchange_rate_df.index.values.astype('<M8[D]')

exchange_rate_df.head()

,AUD,CAD,CNY,COP,EUR,JPY,NZD,ZAR,SGD,CHF,GBP
2008-09-08,1.225885,1.065900,6.844128,2065.129142,0.707666,108.213684,1.490382,7.881818,1.429007,1.130554,0.569178
2008-09-09,1.238554,1.066616,6.838930,2072.682934,0.707031,107.481688,1.488939,7.919433,1.431538,1.128351,0.567448
2008-09-11,1.253593,1.076406,6.847612,2066.892293,0.717233,106.745700,1.538959,8.285845,1.444281,1.139091,0.570650
2008-09-12,1.226553,1.063836,6.823175,2065.364371,0.705455,107.527481,1.510527,8.095728,1.432597,1.134344,0.561074
2008-09-14,1.226553,1.064781,6.843508,2065.364371,0.707217,107.522848,1.512398,8.084855,1.432364,1.134626,0.561773

In [265]:
#Get UK exchange rates
UK_exchange = exchange_rate_df['EUR']
UK_change = UK_exchange.pct_change()
UK_change.dropna(inplace = True)

In [266]:
AUS_df['exchange_rate'] = UK_change

binary_column = [1 if value > 0 else -1 for value in AUS_df['exchange_rate']]
AUS_df['exchange_direction'] = binary_column

In [267]:
AUS_df.dropna(inplace = True)

In [268]:
AUS_df.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,HIV4_sentiment_score,HIV4_sentiment,LM_sentiment_score,LM_sentiment,aggregate_sentiment,exchange_rate,exchange_direction
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1,-0.9996,-1,0.004653,1,0.064327,1,-0.693431,-1,1,-0.000897,-1
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1,0.5003,1,-0.020412,-1,0.333333,1,-0.589744,-1,1,-0.016421,-1
2008-09-14,yen fall percent vs euro decline broadly europ...,forex yen slide global bank rescue step global...,-0.011039,-1,-0.9996,-1,0.003089,1,0.033613,1,-0.637306,-1,-1,0.002498,1
2008-09-15,-1,-1,-1.000000,-1,-1.0000,-1,-1.000000,-1,-1.000000,-1,-1.000000,-1,-1,-0.002889,-1
2008-09-16,-1,-1,-1.000000,-1,-1.0000,-1,-1.000000,-1,-1.000000,-1,-1.000000,-1,-1,0.000645,1

In [269]:
#Check how many times the direction of the exchange rate and the sentiment was the same
vader_score = []
manual_score = []
textblob_score = []
aggregate_score = []
hiv4_score = []
lm_score = []
length_of_df = len(AUS_df)

#Vader Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['vader_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        vader_score.append(1)

vader_score = (sum(vader_score) / length_of_df) * 100
vader_score

#Manual Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['manual_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        manual_score.append(1)

manual_score = (sum(manual_score) / length_of_df) * 100
manual_score

#TextBlob Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['textblob_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        textblob_score.append(1)

textblob_score = (sum(textblob_score) / length_of_df) * 100
textblob_score

#HIV4 Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['HIV4_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        hiv4_score.append(1)

hiv4_score = (sum(hiv4_score) / length_of_df) * 100

#LM Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['LM_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        lm_score.append(1)

lm_score = (sum(lm_score) / length_of_df) * 100
        
#Aggregate Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['aggregate_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        aggregate_score.append(1)
        

aggregate_score = (sum(aggregate_score) / length_of_df) * 100
aggregate_score

  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 52124.22it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 60435.08it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 64686.02it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 63161.21it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 58902.04it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 60265.07it/s]

50.451807228915655

In [270]:
vader_score

49.337349397590366

In [271]:
manual_score

50.18072289156626

In [272]:
aggregate_score

50.451807228915655

In [273]:
textblob_score

50.963855421686745

In [274]:
hiv4_score

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [193]:
import pysentiment as ps

In [202]:
lm = ps.LM()

In [203]:
score_list = []
for text in tqdm.tqdm(AUS_df['text'][0:10] + AUS_df['title'][0:10]):
    tokens = lm.tokenize(text)
    score = lm.get_score(tokens)
    score_list.append(score)

100%|██████████| 10/10 [00:00<00:00, 29.77it/s]

In [9]:
tokens = hiv4.tokenize(AUS_df['text'][0])

In [205]:
score_list[0]

{'Positive': 21,
 'Negative': 116,
 'Polarity': -0.693430651872769,
 'Subjectivity': 0.10761979567351154}

In [10]:
score = hiv4.get_score(tokens)

In [207]:
from fredapi import Fred
api = '3dcbccc26181a5457fb8bd0584de00a8'
fred = Fred(api_key=api)

In [208]:
british_interest = fred.get_series('GBPONTD156N')
british_interest = pd.DataFrame(british_interest)
british_interest = british_interest.rename(columns = {0:"libor_GBP"})

In [210]:
us_interest = fred.get_series('USDONTD156N')
us_interest = pd.DataFrame(us_interest)
us_interest = us_interest.rename(columns = {0:"libor_USD"})

In [234]:
interest_df = british_interest.merge(us_interest, left_index=True, right_index=True, how='inner')

In [235]:
interest_df.isna().sum()

libor_GBP    152
libor_USD    277
dtype: int64

In [236]:
interest_df.dropna(inplace = True)

In [237]:
len(interest_df)

4638

In [238]:
interest_df['interest_diff'] = interest_df['libor_USD'] - interest_df['libor_GBP']

In [239]:
interest_df.head(10)

            libor_GBP  libor_USD  interest_diff
2001-01-02    5.81094    6.65125        0.84031
2001-01-03    6.09750    6.65375        0.55625
2001-01-04    5.57125    6.09625        0.52500
2001-01-05    5.37813    6.01625        0.63812
2001-01-08    5.50000    6.01500        0.51500
2001-01-09    5.34344    6.01125        0.66781
2001-01-10    5.50000    6.01500        0.51500
2001-01-11    6.00000    6.03750        0.03750
2001-01-12    6.12188    6.02500       -0.09688
2001-01-16    6.09844    6.17625        0.07781

In [240]:
interest_df = interest_df.merge(UK_change, left_index=True, right_index=True, how='inner')

In [241]:
len(interest_df)

2270

In [242]:
interest_df.head()

            libor_GBP  libor_USD  interest_diff       GBP
2008-09-09    5.05188    2.13500       -2.91688 -0.003039
2008-09-11    5.04875    2.13875       -2.91000  0.005643
2008-09-12    5.04750    2.14625       -2.90125 -0.016781
2008-09-15    5.49375    3.10625       -2.38750 -0.004066
2008-09-16    6.79375    6.43750       -0.35625  0.000937

In [245]:
sentiment_list = []
for i in range(len(interest_df)):
    if interest_df['interest_diff'][i] > 0 and  interest_df['GBP'][i] > 0:
        sentiment_list.append(1)
    elif interest_df['interest_diff'][i] < 0 and  interest_df['GBP'][i] < 0:
        sentiment_list.append(-1)
    elif interest_df['interest_diff'][i] < 0 and  interest_df['GBP'][i] > 0:
        sentiment_list.append(1)
    elif interest_df['interest_diff'][i] > 0 and  interest_df['GBP'][i] < 0:
        sentiment_list.append(-1)

In [247]:
interest_df['sentiment_data'] = sentiment_list

In [248]:
interest_df.head()

            libor_GBP  libor_USD  interest_diff       GBP  sentiment_data
2008-09-09    5.05188    2.13500       -2.91688 -0.003039              -1
2008-09-11    5.04875    2.13875       -2.91000  0.005643               1
2008-09-12    5.04750    2.14625       -2.90125 -0.016781              -1
2008-09-15    5.49375    3.10625       -2.38750 -0.004066              -1
2008-09-16    6.79375    6.43750       -0.35625  0.000937               1